# Binaries for programs and plugins
bin
*.exe
*.exe~
*.dll
*.so
*.dylib

# MacOS finder files
.DS_Store
**/.DS_Store

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

/.idea/
/.vscode/
file:/
/resources
/vendor
/site

# Log Files
*.log

# ci/cd binaries
.bin

# kics configuration file
kics.config

# Results
results.*
platforms.json
gl-sast-results.json
sonarqube-results.json
cyclonedx-results.xml
junit-results.xml

# Sarif files
*.sarif
!e2e/fixtures/E2E_CLI_079_RESULT.sarif
!e2e/fixtures/E2E_CLI_080_RESULT.sarif

# coverage report
coverage.html

# Local files for tests
/local-files

# goreleaser
dist

# debug payload
payload.json

# ANTLR files
.antlr
