# Binaries for programs and plugins
bin
*.exe
*.exe~
*.dll
*.so
*.dylib

# MacOS finder files
.DS_Store
**/.DS_Store

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

/.idea/
/.vscode/
/resources
/vendor
/site

# Log Files
*.log

# ci/cd binaries
.bin

# kics configuration file
kics.config

# Results
results.*

# Sarif files
*.sarif

# coverage report
coverage.html

# Local files for tests
/local-files
