# Project
site_name: KICS
site_url: http://www.kics.io
site_description: >-
  Open source solution for static code analysis of Infrastructure as Code. Finding security vulnerabilities, compliance issues, and infrastructure misconfigurations during project development cycle.
copyright: >-
  &copy; 2021 Checkmarx Ltd. All Rights Reserved.

# Repo
repo_name: GitHub
repo_url: https://github.com/Checkmarx/kics/

# Navigation
nav:
  - Home: index.md
  - Getting Started:
      - Installation: getting-started.md
      - Configuration: configuration-file.md
      - Queries: queries.md
      - Results: results.md
  - Architecture: architecture.md
  - Integrations: 
      - Overview: integrations.md
      - Github Actions: integrations_ghactions.md
      - Gitlab CI: integrations_gitlabci.md
      - Azure DevOps: integrations_azurepipelines.md
  - Project:
      - Roadmap: roadmap.md
      - Plans: "https://github.com/Checkmarx/kics/projects"
      - Issues: "https://github.com/Checkmarx/kics/issues"
      - Releases: releases.md
  - Contribution: CONTRIBUTING.md
  - About: about.md

# Theme
theme:
  name: flatly
  logo: img/kics.ico
  favicon: img/logo/kics-logo-text.png
  include_sidebar: true
  sticky_navigation: true

extra_css:
  - css/custom.css

# Plugins
plugins:
  - search
google_analytics:
  - UA-186818347-2
  - auto
