# Project
site_name: KICS
site_url: http://www.kics.io
site_description: >-
  Open source solution for static code analysis of Infrastructure as Code. Finding security vulnerabilities, compliance issues, and infrastructure misconfigurations during project development cycle.
copyright:  >-
  &copy; 2020 Checkmarx Ltd. All Rights Reserved.


# Repo
repo_name: GitHub
repo_url: https://github.com/Checkmarx/kics/


# Navigation
nav:
  - Home: index.md
  - Install:
    - Getting Started: getting-started.md
    - Integrations: integrations.md
    - Results: results.md
  - Queries: queries.md
  - Architecture: architecture.md
  - Contribution: CONTRIBUTING.md
  - Project:
    - Roadmap: roadmap.md
    - Plans: 'https://github.com/Checkmarx/kics/projects'
    - Issues: 'https://github.com/Checkmarx/kics/issues'
    - Releases: releases.md
  - About: about.md

# Theme
theme:
  name: flatly
  logo: img/kics.ico
  favicon: img/logo/kics-logo-text.png
  include_sidebar: true
  sticky_navigation: true

# Plugins
plugins:
  - search
google_analytics:
  - UA-186818347-2
  - auto
