THIS IS AN AUTOMATIC MESSAGE

Hi,
there was some changes on KICS commands/flags, following the list of changes:
{% if data['added_commands']|length > 0 %}
  - Added commands: {{ data['added_commands'] }}
{% endif %}
{% if data['removed_commands']|length > 0 %}
  - Removed commands: {{ data['removed_commands'] }}
{% endif %}
{% for command in data %}
  {% if (command != 'added_commands' and command != 'removed_commands') %}
  + For '{{command}}' command these were the changes:
      {% if data[command]['added_flags']|length > 0 %}
    - Added flags: {{ data[command]['added_flags'] }}
      {% endif %}
      {% if data[command]['removed_flags']|length > 0 %}
    - Removed flags: {{ data[command]['removed_flags'] }}
      {% endif %}
      {% for flag in data[command] %}
        {% if (flag != 'added_flags' and flag != 'removed_flags') %}
    + For --{{flag}} of '{{command}}' these were the changes:
              {% if data[command][flag]['added_attributes']|length > 0 %}
      - Added attributes: {{ data[command][flag]['added_attributes'] }}
              {% endif %}
              {% if data[command][flag]['removed_attributes']|length > 0 %}
      - Removed attributes: {{ data[command][flag]['removed_attributes'] }}
              {% endif %}
            {% for attr in data[command][flag] %}
              {% if (attr != 'added_attributes' and attr != 'removed_attributes') %}
      - {{data[command][flag][attr]}}
              {% endif %}
            {% endfor %}
          {% endif %}
      {% endfor %}
  {% endif %}
{% endfor %}

Best regards,
KICS Team.
