<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link href="./report.css" rel="stylesheet" />
  <title>KICS Scan Result</title>
</head>
<body>
  <div class="container">
    <h1>KICS Scan Result</h1>
    <h3>Counters</h3>
    <div class="counters">
    {{- with .SeveritySummary -}}
      <div class="severity"><span class="high">High</span>: {{ index .SeverityCounters (severity "high") }}</div>
      <div class="severity"><span class="medium">Medium</span>: {{ index .SeverityCounters (severity "medium") }}</div>
      <div class="severity"><span class="low">Low</span>: {{ index .SeverityCounters (severity "low") }}</div>
      <div class="severity"><span class="info">Info</span>: {{ index .SeverityCounters (severity "info") }}</div>
      <div class="severity"><span>Total</span>: {{ .TotalCounter }}</div>
    {{- end}}
    </div>
  </div>
  {{- range .Queries}}
  <div class="container query">
    <div class="query-title">
      <h2 class="{{ sprintf "%s" .Severity | lower }}">{{ .QueryName }}</h2>
      <span>{{ .QueryID }}</span>
    </div>
    <div class="vulnerability-details">
      <div class="query-info">
        <span>{{ .Description }}</span>
        <span>{{ .Category }}</span>
      </div>
      <details>
        <summary>Files</summary>
        {{- range .Files}}
          <div class="vulnerable-file">
            <div class="vulnerable-file-header">
              <span>{{ .FileName }}</span>
              <span>{{ .Line }}</span>
            </div>
            <details>
              <summary>Details</summary>
              <div class="vulnerability-info">
                <div class="vulnerable-lines">
                  <span class="error">Here will show file vulnerable region</span>
                </div>
              </div>
            </details>
          </div>
        {{- end -}}
      </details>
    </div>
  </div>
  {{- end -}}
</body>
</html>