* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  margin-left: 5vw;
}

summary {
  user-select: none;
  cursor: pointer;
}

.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 32px;
}

.counters {
  border: 1px solid #333;
  display: flex;
  flex-direction: column;
  width: 10vw;
}

.severity {
  display: flex;
  flex-direction: row;
}

.severity > span {
  font-weight: bold;
}

.high {
  color: #C00
}

.medium {
  color: #C60
}

.low {
  color: #CC0
}

.info {
  color: #00C
}

.query {
  width: 90vw;
}

.query-title {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  width: 100%;
}

.query-title > span {
  font-size: x-small;
}

.vulnerability-details {
  display: flex;
  flex-direction: column;
  border: 1px solid #333;
  width: 100%;
}

.query-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 1px solid #333;
}

.query-info > span:first-child{
  flex:1;
  padding: 0 8px;
  border-right: 1px solid #333;
  text-align: justify;
}

.query-info > span:last-child{
  text-align: center;
  padding: 0 8px;
}

.vulnerable-file-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-top: 1px solid #333;
  border-bottom: 1px solid #333;
}

.vulnerable-file-header > span:first-child{
  flex:1;
  border-right: 1px solid #333;
}

.vulnerable-file-header > span:last-child{
  min-width: 48px;
  text-align: center;
}

.vulnerability-info {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: #EEE;
}

.vulnerability-info > div {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
  padding: 16px 0;
}

.vulnerability-info > :not(div:last-child) {
  border-right: 1px solid #333;
}

.vulnerable-file:nth-of-type(odd) {
  background-color: #0CC5;
}

.vulnerable-file:nth-of-type(even) {
  background-color: #3D35;
}

.vulnerable-lines > .error {
  background-color: #C003;
}

.vulnerability-details > details {
  text-indent: 8px;
}

.vulnerable-file > details {
  text-indent: 16px;
}

.vulnerable-file > details[open] > summary {
  border-bottom: 1px solid #333;
}
