{
    "components": {},
    "info": {
      "description": "Swagger auto-generated from learnt schema for ves-io-s-gorman-s-gorman-sent4-http-load-balancer",
      "title": "ves-io-s-gorman-s-gorman-sent4-http-load-balancer",
      "version": "2023-06-21 17:30:59"
    },
    "openapi": "3.0.3",
    "paths": {
      "/": {
        "get": {
          "description": "Swagger auto-generated from learnt schema",
          "parameters": [
            {
              "description": "Integer",
              "in": "header",
              "name": "upgrade-insecure-requests",
              "schema": {
                "pattern": "-?\\d+",
                "type": "string"
              }
            }
          ],
          "responses": {
            "2XX": {
              "description": "",
              "headers": {
                "content-type": {
                  "description": "Word",
                  "schema": {
                    "pattern": "[a-z0-9-]+",
                    "type": "string"
                  }
                },
                "date": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string"
                      },
                      "name": {
                        "type": "string"
                      }
                    },
                    "additionalProperties": "true"
                  }
                }
              }
            },
            "default": {
              "description": ""
            }
          }
        }
      },
      "/api/backgrounds/1": {
        "get": {
          "description": "Swagger auto-generated from learnt schema",
          "responses": {
            "2XX": {
              "description": ""
            },
            "default": {
              "description": ""
            }
          }
        }
      },
      "/api/backgrounds/10": {
        "get": {
          "description": "Swagger auto-generated from learnt schema",
          "responses": {
            "2XX": {
              "description": ""
            },
            "default": {
              "description": ""
            }
          }
        }
      }
    },
    "servers": [
      {
        "url": "http://sent4.volterra.plutometal.com"
      },
      {
        "url": "https://sent4.volterra.plutometal.com"
      }
    ]
  }