image: checkmarx/kics:latest

pipelines:
  default:
    - step:
        name: "Cx KICS"
        script:
          - kics scan -q /app/bin/assets/queries --ignore-on-exit results -p ${PWD} -o ${PWD}
        artifacts:
          - results.json
