name: add-issues-labels
on:
  issues:
    types: [opened, edited, reopened]

jobs:
  labels-check:
    runs-on: ubuntu-latest
    env:
      BODY: ${{ github.event.issue.body }}
      LABELS: ${{ toJson(github.event.issue.labels) }}
    steps:
    - name: Checkout code
      uses: actions/checkout@v3
      with:
        persist-credentials: false
        sparse-checkout: |
          .github/scripts/pr-issue-info/get_keywords.py
          .github/keywords.yaml
    - name: Install JQ
      run: sudo apt-get install jq
    - name: Get username
      run: echo "USERNAME=${{ github.event.issue.user.login }}" >> $GITHUB_ENV
    - name: Get title
      run: echo "TITLE=${{ github.event.issue.title }}" >> $GITHUB_ENV
    - name: Check user username
      run: |
        response=$(curl -s -H "Authorization: token ${{ secrets.KICS_BOT_PAT }}" "https://api.github.com/orgs/Checkmarx/teams/kics-core-team/members")
        team_members=$(echo "$response" | jq -r '.[].login')
        if echo "${team_members[@]}" | grep -Pq "^$USERNAME$"; then
          echo "Contributor belongs to Checkmarx organization"
          is_member="true"
        else
          echo "Contributor does not belong to Checkmarx organization"
          is_member="false"
        fi
        echo "IS_MEMBER=$is_member" >> $GITHUB_ENV
    - name: Add community label if user does not belong to Checkmarx Organization
      run: |
        if [[ "$IS_MEMBER" == "false" ]]; then
          curl -s -H "Authorization: token ${{ secrets.GITHUB_TOKEN }}" -X POST -H "Accept: application/vnd.github.v3+json" https://api.github.com/repos/${{ github.repository }}/issues/${{ github.event.issue.number }}/labels -d '{"labels": ["community"]}'
        fi
    - name: Add bug label
      run: |
        if echo "$TITLE $BODY" | grep -iqP "(\\b|_)bugs?(\\b|_)" || echo "$TITLE $BODY" | grep -iqP "steps to reproduce" || echo "$TITLE $BODY" | grep -iqP "actual behavior" || echo "$TITLE $BODY" | grep -iqP "expected behavior"; then
          echo "Adding 'bug' label..."
          curl -s -H "Authorization: token ${{ secrets.GITHUB_TOKEN }}" -X POST -H "Accept: application/vnd.github.v3+json" https://api.github.com/repos/${{ github.repository }}/issues/${{ github.event.issue.number }}/labels -d '{"labels": ["bug"]}'
        else 
          if echo "$LABELS" | grep -q "bug"; then
            echo "Removing 'bug' label..."
            curl -s -H "Authorization: token ${{ secrets.GITHUB_TOKEN }}" -X DELETE -H "Accept: application/vnd.github.v3+json" https://api.github.com/repos/${{ github.repository }}/issues/${{ github.event.issue.number }}/labels/bug
          fi
        fi
    - name: Add query label
      run: |
        if echo "$TITLE $BODY" | grep -iqP "(\\b|_)quer(y|ies)(\\b|_)"; then
          echo "Adding 'query' label... "
          curl -s -H "Authorization: token ${{ secrets.GITHUB_TOKEN }}" -X POST -H "Accept: application/vnd.github.v3+json" https://api.github.com/repos/${{ github.repository }}/issues/${{ github.event.issue.number }}/labels -d '{"labels": ["query"]}'
        else 
          if echo "$LABELS" | grep -q "query"; then
            echo "Removing 'query' label..."
            curl -s -H "Authorization: token ${{ secrets.GITHUB_TOKEN }}" -X DELETE -H "Accept: application/vnd.github.v3+json" https://api.github.com/repos/${{ github.repository }}/issues/${{ github.event.issue.number }}/labels/query
          fi
        fi
    - name: Set up Python 
      uses: actions/setup-python@v4
      with:
        python-version: "3.x"
    - name: Install dependencies
      run: python3 -m pip install --upgrade pip pyyaml
    - name: Check title for keywords of platforms and cloud providers to add labels
      run: |
        keywords=$(python3 .github/scripts/pr-issue-info/get_keywords.py)
        eval "$keywords"
        declare -p keywords
        declare -a labels_to_add=()
        for keyword in "${!keywords[@]}"; do
          if echo "$TITLE $BODY" | grep -iPq "(\\b|_)$keyword(\\b|_)"; then
            labels_to_add+=("${keywords[$keyword]}")
          fi
        done
        mapfile -t current_labels < <(echo "$LABELS" | jq -r '.[].name')
        for keyword in "${!keywords[@]}"; do
          label=${keywords[$keyword]}
          if [[ ! " ${labels_to_add[@]} " =~ " ${label} " ]] && [[ " ${current_labels[@]} " =~ " ${label} " ]]; then
            echo "Removing '$label' label..."
            curl -s -H "Authorization: token ${{ secrets.GITHUB_TOKEN }}" -X DELETE -H "Accept: application/vnd.github.v3+json" https://api.github.com/repos/${{ github.repository }}/issues/${{ github.event.issue.number }}/labels/$label
          elif [[ " ${labels_to_add[@]} " =~ " ${label} " ]] && [[ ! " ${current_labels[@]} " =~ " ${label} " ]]; then
            echo "Adding '$label' label..."
            curl -s -H "Authorization: token ${{ secrets.GITHUB_TOKEN }}" -X POST -H "Accept: application/vnd.github.v3+json" https://api.github.com/repos/${{ github.repository }}/issues/${{ github.event.issue.number }}/labels -d "{\"labels\": [\"$label\"]}"
          fi
        done