name: add-issues-labels
on:
  issues:
    types: [opened, edited, reopened]

jobs:
  labels-check:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout code
      uses: actions/checkout@v3
      with:
        sparse-checkout: |
          .github/scripts/pr-info/get_pr_keywords.py
          .github/keywords.yaml
    - name: Get username
      run: echo "USERNAME=${{ github.event.issue.user.login }}" >> $GITHUB_ENV
    - name: Get title
      run: echo "TITLE=${{ github.event.issue.title }}" >> $GITHUB_ENV
    - name: Get body
      run: echo "BODY=${{ github.event.issue.body }}" >> $GITHUB_ENV
    - name: Install JQ
      run: sudo apt-get install jq
    - name: Check user username
      run: |
        response=$(curl -s -H "Authorization: token ${{ secrets.KICS_BOT_PAT }}" "https://api.github.com/orgs/Checkmarx/teams/kics-core-team/members")
        team_members=$(echo "$response" | jq -r '.[].login')
        if echo "${team_members[@]}" | grep -Pq "^$USERNAME$"; then
          echo "Contributor belongs to Checkmarx organization"
          is_member="true"
        else
          echo "Contributor does not belong to Checkmarx organization"
          is_member="false"
        fi
        echo "IS_MEMBER=$is_member" >> $GITHUB_ENV
    - name: Add community label if user does not belong to Checkmarx Organization
      run: |
        if [[ "$IS_MEMBER" == "false" ]]; then
          curl -s -H "Authorization: token ${{ secrets.GITHUB_TOKEN }}" -X POST -H "Accept: application/vnd.github.v3+json" https://api.github.com/repos/${{ github.repository }}/issues/${{ github.event.pull_request.number }}/labels -d '{"labels": ["community"]}'
        fi
    - name: Add bug label
      run: |
        if echo "$TITLE $BODY" | grep -iqP "\\bbugs?\\b"; then
          echo "Adding 'bug' label..."
          curl -s -H "Authorization: token ${{ secrets.GITHUB_TOKEN }}" -X POST -H "Accept: application/vnd.github.v3+json" https://api.github.com/repos/${{ github.repository }}/issues/${{ github.event.pull_request.number }}/labels -d '{"labels": ["bug"]}'
        fi
    - name: Add query label
      run: |
        if echo "$TITLE $BODY" | grep -iqP "\\bquer(y|ies)\\b"; then
          echo "Adding 'query' label..."
          curl -s -H "Authorization: token ${{ secrets.GITHUB_TOKEN }}" -X POST -H "Accept: application/vnd.github.v3+json" https://api.github.com/repos/${{ github.repository }}/issues/${{ github.event.pull_request.number }}/labels -d '{"labels": ["query"]}'
        fi
    - name: Set up Python 
      uses: actions/setup-python@v4
      with:
        python-version: "3.x"
    - name: Install dependencies
      run: python3 -m pip install --upgrade pip pyyaml
    - name: Load keywords from YAML
      id: load-keywords
      run: |
        echo "::set-output name=keywords::$(python3 .github/scripts/pr-info/get_pr_keywords.py)"
    - name: Check title for keywords of platforms and cloud providers to add labels
      run: |
        eval "${{ steps.load-keywords.outputs.keywords }}"
        declare -p keywords
        for keyword in "${!keywords[@]}"; do
          if echo "$TITLE $BODY" | grep -iq "\\b$keyword\\b"; then
            label=${keywords[$keyword]}
            echo "Adding '$label' label..."
            curl -s -H "Authorization: token ${{ secrets.GITHUB_TOKEN }}" -X POST -H "Accept: application/vnd.github.v3+json" https://api.github.com/repos/${{ github.repository }}/issues/${{  github.event.issue.number  }}/labels -d "{\"labels\": [\"$label\"]}"
          fi
        done
