name: CESARt
on:
  pull_request:
    types: [ labeled ]

env:
  ENGINE_VERSION: ${{ vars.CES_ENGINE_VERSION }}
  PLATFORM: "LINUX_X64"
  ENGINE: "kics"
  REMOVE_HISTORY: "true"

jobs:
  build:
    if: (github.event.label.name == 'cesar' && github.event.pull_request.mergeable == true)
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          ref: refs/pull/${{ github.event.pull_request.number }}/merge
          path: kics

      - uses: actions/setup-go@4dc6199c7b1a012772edbd06daecab0f50c9053c # v6.1.0
        with:
          go-version-file: kics/go.mod
          cache-dependency-path: kics/go.sum
          cache: true

      - name: Build kics Binary
        env:
          CGO_ENABLED: 0
          GOOS: linux
          GOARCH: amd64
        run: |
          cd $GITHUB_WORKSPACE/kics
          go build -installsuffix cgo -ldflags "-s -w" -a -o ./bin/kics ./cmd/console/main.go
          chmod +x ./bin/kics

      - name: Create Metadata File
        run: |
          COMMIT_TIMESTAMP=$(git -C "$GITHUB_WORKSPACE/kics" log -1 --format=%ct)
          METADATA_PATH="$GITHUB_WORKSPACE/pr-metadata.json"
          CURR_TIMESTAMP=$(date +%s)
          echo '{
            "seq": "'"${CURR_TIMESTAMP}"'",
            "tag": "'"${{ github.event.number }}"'",
            "comment": "'"${{ github.event.pull_request.title }}"'",
            "commit": "'"${{ github.event.pull_request.head.sha }}"'",
            "owner": "'"${{ github.actor }}"'",
            "branch": "'"${{ github.head_ref }}"'",
            "engine": "'"${ENGINE}"'",
            "platform": "'"${PLATFORM}"'",
            "version": "'"${ENGINE_VERSION}"'",
            "forkSeq": "'"${CURR_TIMESTAMP}"'",
            "forkBranch": "'"${{ github.base_ref }}"'",
            "removeHistory" : "'"${REMOVE_HISTORY}"'"
          }' > "$METADATA_PATH"

      - name: Zip kics Folder
        run: |
          cd $GITHUB_WORKSPACE
          zip -qr kics.zip kics/

      - name: Save kics
        uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4 # v5.0.0
        with:
          name: kics
          path: ${{ github.workspace }}/kics.zip
          retention-days: 1

      - name: Pr parameters
        uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4 # v5.0.0
        with:
          name: Metadata
          path: ${{ github.workspace }}/pr-metadata.json
          retention-days: 1

  ci-projects:
    needs: build
    uses: ./.github/workflows/run-projects.yaml
    with:
      machines-count: 10
    secrets: inherit
