name: go CI
on:
  pull_request_target:
    branches: [master]
    types: [labeled]
jobs:
  lint:
    name: lint
    if: contains(github.event.pull_request.labels.*.name, 'safe to test')
    runs-on: ubuntu-latest
    steps:
    - name: Cache dependencies
      uses: actions/cache@v2
      with:
        path: ~/go/pkg/mod
        key: ${{ runner.os }}-go-${{ hashFiles('**/go.sum') }}
        restore-keys: |
          ${{ runner.os }}-go-
    - uses: actions/checkout@v2
      with:
          fetch-depth: 0
    - name: golangci-lint
      uses: golangci/golangci-lint-action@v2
      with:
        # Required: the version of golangci-lint is required and must be specified without patch version: we always use the latest patch version.
        version: v1.29
  unit-tests:
    name: unit-tests
    if: contains(github.event.pull_request.labels.*.name, 'safe to test')
    strategy:
      matrix:
        go-version: [1.15.x]
        os: [ubuntu-latest]
    runs-on: ${{ matrix.os }}
    steps:
    - name: Set up Go 1.x
      uses: actions/setup-go@v2
      with:
        go-version: ${{ matrix.go-version }}
    - name: Check out code into the Go module directory
      uses: actions/checkout@v2
      with:
          persist-credentials: false
    - name: Run Go mod tidy
      run: go mod tidy
    - name: Cache dependencies
      uses: actions/cache@v2
      with:
        path: ~/go/pkg/mod
        key: ${{ runner.os }}-go-${{ hashFiles('**/go.sum') }}
        restore-keys: |
          ${{ runner.os }}-go-
    - name: Get go-junit-report module
      run: |
        GO111MODULE=off go get -u github.com/jstemmer/go-junit-report
    - name: Test
      run: |
        go mod vendor
        mkdir -p test-results
        go test -mod=vendor -v ./... -count=1 -coverprofile cover.out 2>&1 | go-junit-report -set-exit-code -go-version "$(go version)" -package-name "github.com/Checkmarx/kics/test" > test-results/report.xml
    - name: Publish Unit Test Results
      uses: EnricoMi/publish-unit-test-result-action@v1.7
      if: always()
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
        check_run_annotations: all tests, skipped tests
        check_run_annotations_branch: "*"
        files: test-results/**/*.xml
    - name: CodeCov
      run: |
        bash <(curl -s https://codecov.io/bash)
    - name: Check if total coverage is greater then 0
      run: |
        CODE_COV=$(go tool cover -func cover.out | grep total | awk '{print substr($3, 1, length($3)-1)}')
        EXPECTED_CODE_COV=0
        var=$(awk 'BEGIN{ print "'$CODE_COV'"<"'$EXPECTED_CODE_COV'" }')
        if [ "$var" -eq 1 ];then
          echo "Your code coverage is too low. Coverage precentage is: $CODE_COV"
          exit 1
        else
          echo "Your code coverage test passed! Coverage precentage is: $CODE_COV"
          exit 0
        fi
  integration-tests:
    name: integration-tests
    if: contains(github.event.pull_request.labels.*.name, 'safe to test')
    strategy:
      matrix:
        go-version: [1.15.x]
        os: [ubuntu-latest]
    runs-on: ${{ matrix.os }}
    steps:
    - name: Check out code into the Go module directory
      uses: actions/checkout@v2
      with:
          persist-credentials: false
    - name: Set up Docker Buildx
      id: buildx
      uses: docker/setup-buildx-action@master
    - name: Cache Docker layers
      uses: actions/cache@v2
      with:
        path: /tmp/.buildx-cache
        key: ${{ runner.os }}-buildx-${{ github.ref }}
        restore-keys: |
          ${{ runner.os }}-buildx-${{ github.ref }}
    - name: Build
      id: docker_build
      uses: docker/build-push-action@v2
      with:
        load: true
        context: ./
        file: ./Dockerfile
        builder: ${{ steps.buildx.outputs.name }}
        push: false
        tags:  kics:${{ github.sha }}
        cache-from: type=local,src=/tmp/.buildx-cache
        cache-to: type=local,dest=/tmp/.buildx-cache
    - name: Image digest
      run: echo ${{ steps.docker_build.outputs.digest }}
    - name: Run docker image and generate results.json
      run: |
        time docker run -v ${PWD}/assets/queries:/path -e SENTRY_DSN=${{secrets.SENTRY_DSN}} kics:${{ github.sha }} -p "/path" -o "/path/results.json"
    - name: Assert queries_total > 0 in results.json
      id: assert_queries_total
      uses: sergeysova/jq-action@v2
      with:
        cmd: jq '.queries_total' ${PWD}/assets/queries/results.json | xargs -i{} test {} -gt 0
    - name: Assert total_counter > 0 in results.json
      id: assert_total_counter
      uses: sergeysova/jq-action@v2
      with:
        cmd: jq '.total_counter' ${PWD}/assets/queries/results.json | xargs -i{} test {} -gt 0
    - name: Assert files_scanned > 0 in results.json
      id: assert_files_scanned
      uses: sergeysova/jq-action@v2
      with:
        cmd: jq '.files_scanned' ${PWD}/assets/queries/results.json | xargs -i{} test {} -gt 0
    - name: Assert queries_failed_to_execute == 0 in results.json
      id: assert_queries_failed_to_execute
      uses: sergeysova/jq-action@v2
      with:
        cmd: jq '.queries_failed_to_execute' ${PWD}/assets/queries/results.json | xargs -i{} test {} -eq 0
    - name: Assert files_failed_to_scan == 0 in results.json
      id: assert_files_failed_to_scan
      uses: sergeysova/jq-action@v2
      with:
        cmd: jq '.files_failed_to_scan' ${PWD}/assets/queries/results.json | xargs -i{} test {} -eq 0
    - name: Display results
      run: |
        cat  ${PWD}/assets/queries/results.json
