name: go-ci

on:
  pull_request:
    branches: [master]

jobs:
  lint:
    name: lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - name: Set up Go
        uses: actions/setup-go@v6
        with:
          go-version-file: go.mod
          cache: false
      - name: golangci-lint
        uses: golangci/golangci-lint-action@aaa42aa0628b4ae2578232a66b541047968fac86 # v6.1.0
        with:
          version: v2.0.2
          args: -c .golangci.yml --timeout 20m
  go-generate:
    name: go-generate
    runs-on: ubuntu-latest
    steps:
      - name: Check out code
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          persist-credentials: false
          fetch-depth: 0
      - name: Set up Go
        uses: actions/setup-go@v6
        with:
          go-version-file: go.mod
      - name: Generate mocks and marshall/unmarshall code
        run: make generate
  unit-tests:
    name: unit-tests
    strategy:
      matrix:
        go-version: [1.24.x]
        os: [ubuntu-latest, windows-2022, macos-latest]
    runs-on: ${{ matrix.os }}
    steps:
      - name: Set up Go
        uses: actions/setup-go@v6
        with:
          go-version: ${{ matrix.go-version }}
      - name: Check out code into the Go module directory
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          persist-credentials: false
      - name: Get cache paths
        id: go-cache-paths
        shell: bash
        run: echo "GO_BUILD=$(go env GOCACHE)" >>$GITHUB_OUTPUT
      - name: Cache dependencies
        uses: actions/cache@9255dc7a253b0ccc959486e2bca901246202afeb # v5.0.1
        with:
          path: ${{ steps.go-cache-paths.outputs.GO_BUILD }}
          key: ${{ runner.os }}-go-${{ hashFiles('**/go.sum') }}
          restore-keys: |
            ${{ runner.OS }}-build-${{ env.cache-name }}
            ${{ runner.OS }}-build-
            ${{ runner.OS }}-
      - name: Get Modules
        run: |
          go mod vendor
      - name: Set Windows Page size
        if: matrix.os == 'windows-2022'
        uses: al-cheb/configure-pagefile-action@9b6da52fb72a3c6147c1aad2df22d8d905681adc # v1.5
        with:
          minimum-size: 32GB
          maximum-size: 32GB
          disk-root: "C:"
      - name: Test and Generate Report Dev
        if: matrix.os != 'windows-2022'
        run: |
          go test -tags dev -mod=vendor -v -timeout 2100s $(go list -tags dev ./... | grep -v e2e) -count=1 -coverprofile=cover.out | tee unit-test.log
          result_code=${PIPESTATUS[0]}
          exit $result_code
      - name: Test and Generate Report Windows Dev
        if: matrix.os == 'windows-2022'
        run: |
          go test -mod=vendor -tags dev -v -timeout 2100s $(go list -tags dev ./... | grep -v e2e) -count=1 -coverprofile=cover.out | tee unit-test.log
      - name: Archive test logs
        if: always()
        uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
        with:
          name: unit-test-${{ runner.os }}-${{ github.event.pull_request.head.sha }}.log
          path: unit-test.log
  security-scan:
    name: security-scan
    runs-on: ubuntu-latest
    env:
      GO111MODULE: on
    steps:
      - name: Checkout Source
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - name: Run Gosec Security Scanner
        uses: securego/gosec@424fc4cd9c82ea0fd6bee9cd49c2db2c3cc0c93f # v2.22.11
        with:
          args: "-no-fail -fmt sarif -out results.sarif ./..."
      - name: Show results
        run: |
          cat results.sarif
      - name: Upload SARIF file
        uses: github/codeql-action/upload-sarif@4c3e5362829f0b0bb62ff5f6c938d7f95574c306
        with:
          sarif_file: results.sarif
