name: ci
on:
  push:
    branches:
      - master
    paths:
      - 'docs/**'
      - 'mkdocs.yml' 
jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-python@v2
        with:
          python-version: 3.x
      - run: pip install mkdocs-bootswatch
      - run: mkdocs gh-deploy --force
