name: release-commits

on:
  push:
    tags:
      - "v*"

jobs:
  release-commits:
    name: get-release-commits
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Source
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
      - name: Set up Go
        uses: actions/setup-go@v6
        with:
          go-version-file: go.mod
      - uses: actions/setup-python@v6
        with:
          python-version: "3.x"
      - name: Run get release commits script
        id: commits
        run: |
          pip3 install -r .github/scripts/release-commits/requirements.txt
          python3 .github/scripts/release-commits/get_commits.py
