name: release-docker-github-action

on:
  workflow_dispatch:
    inputs:
      version:
        description: "Version To push"
        required: true

jobs:
  push_to_registry:
    name: Push Docker GitHub Actions image to Docker Hub
    runs-on: ubuntu-latest
    steps:
      - name: Check out the repo
        uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - name: Check out the tag
        uses: actions/checkout@v3
        with:
          ref: ${{ github.event.inputs.version }}
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v2
        with:
          image: tonistiigi/binfmt:latest
          platforms: linux/amd64,linux/arm64
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1
      - name: Login to DockerHub
        uses: docker/login-action@v2.0.0
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
      - name: Push Github Action Image to Docker Hub
        uses: docker/build-push-action@v3.1.1
        id: build_gh_action
        with:
          context: .
          push: true
          platforms: linux/amd64,linux/arm64
          tags: checkmarx/kics:gh-action
          build-args: |
            VERSION=${{ github.event.inputs.version }}
            COMMIT=${{ github.sha }}
            SENTRY_DSN=${{ secrets.SENTRY_DSN }}
            DESCRIPTIONS_URL=${{ secrets.DESCRIPTIONS_URL }}
      - name: Check out the repo
        uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - name: Export Image Digests
        run: |
          VERSION=${{ github.event.inputs.version }}

          DIGEST=${{ steps.build_gh_action.outputs.digest }}

          echo "${VERSION}-gh-actions,${DIGEST}" >> docs/docker/digests.csv
      - uses: actions/setup-python@v4
        with:
          python-version: 3.x
      - name: Generate .md table
        run: |
          pip install csvtomd
          csvtomd docs/docker/digests.csv > docs/docker/digests.md
      - name: Create Pull Request
        uses: peter-evans/create-pull-request@v4
        with:
          title: "docs(kicsbot): update images digest"
          token: ${{ secrets.KICS_BOT_PAT }}
          commit-message: "docs(kicsbot): update github-action image digest"
          delete-branch: true
          branch: feature/kicsbot-update-gh-actions-digest
          body: |
            **Automated Changes**
            Updating docker github-action image digest
            Triggered by SHA: _${{ github.sha }}_
          labels: documentation
