name: Run CI Projects

on:
  workflow_call:
    inputs:
      machines-count:
        description: 'Total number of machines'
        required: true
        type: number

env:
  ENGINE: "kics"
  CES_ENVIRONMENT: "prod"

jobs:
  setup:
    runs-on: ubuntu-latest
    outputs:
      machines: ${{ steps.set-machines.outputs.machines }}
    steps:
      - name: Generate Machine Matrix
        id: set-machines
        run: |
          machines=$(seq -s, 0 $((${{ inputs.machines-count }} - 1)))
          echo "machines=[$machines]" >> "$GITHUB_OUTPUT"

  run-projects:
    needs: setup
    runs-on: ubuntu-latest
    env:
      AWS_ACCESS_KEY_ID: ${{ secrets.CES_BUCKET_AWS_ACCESS_KEY }}
      AWS_SECRET_ACCESS_KEY: ${{ secrets.CES_BUCKET_AWS_SECRET_ACCESS_KEY }}
      AWS_REGION: ${{ secrets.CES_BUCKET_AWS_REGION }}

    strategy:
      fail-fast: false
      max-parallel: 10
      matrix:
        machine: ${{ fromJSON(needs.setup.outputs.machines) }}

    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
        with:
          repository: ${{ secrets.CES_EXECUTOR_REPO }}
          token: ${{ secrets.CX_CEBOT_GITHUB_TOKEN_CHECKMARX }}
          path: cli
          ref: master

      - uses: actions/setup-go@0c52d547c9bc32b1aa3301fd7a9cb496313a4491 # v5.0.0
        with:
          go-version-file: cli/go.mod
          cache: false

      - name: Download kics
        uses: actions/download-artifact@v4.1.3
        with:
          name: kics
          path: .

      - name: Unzip kics
        run: |
          unzip -q kics.zip

      - name: Download Json
        uses: actions/download-artifact@v4.1.3
        with:
          name: Metadata
          path: .

      - name: Build Engines Executor
        run: |
          cd cli
          go build -o executor

      - name: Set log file
        run: |
          LOG_FILE="$GITHUB_WORKSPACE/log_${{ matrix.machine }}.log"
          echo "LOG_FILE=$LOG_FILE" >> $GITHUB_ENV

      - name: Select Projects
        run: |
          mkdir -p "$GITHUB_WORKSPACE/zips/"
          cd cli
          ./executor sources \
          -s $GITHUB_WORKSPACE/zips/ \
          -e $ENGINE \
          --chunk ${{ matrix.machine }} \
          --machines ${{ inputs.machines-count }} \
          >> "$LOG_FILE" 2>&1

      - name: Prepare Projects
        run: |
          cd "$GITHUB_WORKSPACE/zips/"
          for zip in *.zip; do
            [ -e "$zip" ] || continue
            zip_name=$(basename "$zip" .zip)
            echo "::add-mask::$zip_name"
            unzip -qqo "$zip" -d "./$zip_name" >> "$LOG_FILE" 2>&1
          done

      - name: Run Engines Executor
        run: |
          mkdir -p $GITHUB_WORKSPACE/results
          ./cli/executor run kics \
          -b $GITHUB_WORKSPACE/kics/bin/kics \
          -s $GITHUB_WORKSPACE/zips/ \
          -r $GITHUB_WORKSPACE/results \
          -j $GITHUB_WORKSPACE/pr-metadata.json \
          -q $GITHUB_WORKSPACE/kics/assets/queries/ \
          --libraries $GITHUB_WORKSPACE/kics/assets/libraries/ \
          --assets $GITHUB_WORKSPACE/kics/assets/similarityID_transition/ \
          --env $CES_ENVIRONMENT \
          >> $LOG_FILE 2>&1

      - name: Upload log
        if: failure()
        run: |
          ./cli/executor save-log \
          -e $ENGINE \
          -j $GITHUB_WORKSPACE/pr-metadata.json \
          -l $LOG_FILE \
          --env $CES_ENVIRONMENT \
          > /dev/null 2>&1
