name: update-queries-docs

on:
  workflow_dispatch:
  push:
    branches: [master]
    paths:
      - "assets/queries/**/metadata.json"

jobs:
  update-docs:
    name: Update queries documentation
    runs-on: ubuntu-latest
    steps:
      - name: Cancel Previous Runs
        uses: styfle/cancel-workflow-action@0.10.0
        with:
          access_token: ${{ github.token }}
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - uses: actions/setup-python@v4
        with:
          python-version: "3.x"
      - name: Update docs
        run: |
          pip3 install -r .github/scripts/docs-generator/requirements.txt
          python3 -u .github/scripts/docs-generator/docs-generator.py \
            -p ./assets/queries/ \
            -o ./docs/queries/ \
            -f md \
            -t .github/scripts/docs-generator/templates
      - name: Create Pull Request
        uses: peter-evans/create-pull-request@v4
        with:
          title: "docs(queries): update queries catalog"
          token: ${{ secrets.KICS_BOT_PAT }}
          commit-message: "docs(queries): update queries catalog"
          delete-branch: true
          branch: feature/kicsbot-update-queries-docs
          body: |
            **Automated Changes**
            Updating queries' documentation.
            Triggered by SHA: _${{ github.sha }}_
          labels: documentation
