name: validate-arm-samples

on:
  pull_request:
    paths:
      - "assets/queries/azureResourceManager/**/test/*.json"

jobs:
  lint-json-samples:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          persist-credentials: false
      - uses: actions/setup-node@v6
        with:
          node-version: "20"
      - name: Installing jsonlint
        run: |
          npm install -g jsonlint
      - name: Running JSON lint
        run: |
          python3 -u ".github/scripts/samples-linters/validate-syntax.py" \
            "assets/queries/azureResourceManager/**/test/*.json" \
            --linter jsonlint \
            --skip ".github/scripts/samples-linters/ignore-list/arm" -vv
