name: validate-openapi-samples

on:
  pull_request:
    paths:
    - "assets/queries/openAPI/**/test/*.yaml"
    - "assets/queries/openAPI/**/test/*.json"

jobs:
  lint-yaml-samples:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2.3.4
        with:
          persist-credentials: false
      - name: yaml-lint
        uses: ibiqlik/action-yamllint@v3.0.2
        with:
          file_or_dir: assets/queries/openAPI/
          config_file: .github/scripts/samples-linters/yamllint.yml
          strict: true
  lint-json-samples:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2.3.4
        with:
          persist-credentials: false
      - uses: actions/setup-node@v2.3.1
        with:
          node-version: '14'
      - name: Installing jsonlint
        run: |
          npm install -g jsonlint
          npm show jsonlint
          which jsonlint
      - name: Running JSON lint
        run: |
          python3 -u ".github/scripts/samples-linters/validate-syntax.py" \
            "assets/queries/openapi/**/test/*.json" \
            --linter jsonlint \
            --skip ".github/scripts/samples-linters/ignore-list/openapi" -vv


