name: validate-ansible-samples

on:
  pull_request:
    paths:
    - "assets/queries/ansible/aws/**/test/*.yaml"
    - "assets/queries/ansible/azure/**/test/*.yaml"
    - "assets/queries/ansible/gcp/**/test/*.yaml"

jobs:
  lint-samples:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          persist-credentials: false
      - name: yaml-lint
        uses: ibiqlik/action-yamllint@v3.1
        with:
          file_or_dir: assets/queries/ansible/
          config_file: .github/scripts/samples-linters/yamllint_ansible.yml
          strict: true
